.navbar-dark{
    z-index: 3;
}
/*RIGHT SIDE PANEL START*/

.cd-panel-watch {
  /*...*/
  visibility: hidden;
  transition: visibility 0s 0.6s;
}

.cd-panel-watch.cd-panel--is-visible-watch {
  visibility: visible;
  transition: visibility 0s 0s;
  z-index: 1;
}

.cd-panel__header-watch {
  /*...*/
  position: fixed;
  top: 50px;
  width: 420px;
  height: 0px;
  transition: transform 0.3s 0s;
  transform: translateY(-80px);
  padding: 0px 5px 0px 15px;
  /*border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-radius: 5px 0 0 0px;
  z-index: 2;*/
}

.cd-panel--from-right-watch .cd-panel__header-watch {
  right: 0;
}

.cd-panel--from-left-watch .cd-panel__header-watch {
  left: 0;
}

.cd-panel--is-visible-watch .cd-panel__header-watch {
  transition: transform 0.3s 0.0s;
  transform: translateY(0px);
  background-color: rgba(255, 255, 255);
}

.cd-panel__container-watch {
  /*...*/
  position: fixed;
  z-index: 1;
  width: 420px;
  height: 100%;
  top: 0;
  transition: transform 0.3s 0s;
  border-left: 1px solid gray;
  padding: 0px 0px 0px 15px;
  border-radius: 0 0 0 5px;
  border-bottom: 1px solid gray;
  overflow-y: auto;
  overflow-x: hidden;
}
.cd-panel__content-watch {
  width: 98%;
}
.cd-panel--from-right-watch .cd-panel__container-watch {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left-watch .cd-panel__container-watch {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible-watch .cd-panel__container-watch {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
  background-color: rgba(255, 255, 255);
}

.cd-btn-watch {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: #89ba2c;
  color: #ffffff;
  border-radius: 50em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.cd-btn-watch:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1170px) {
  .cd-main-content-watch h1 {
    font-size: 3.2rem;
  }
}

/*CLOSE BUTTON*/
.cd-panel__close-watch-visible {
  /*position: absolute;
  top: 49px;
  right: 420px !important;*/
  visibility: visible !important;
  transform: translate3d(-100%, 0, 0) !important;
  transition: transform 0.3s 0s;
  transition-delay: 0s;
}

.cd-panel__close-watch {
  position: fixed;
  background-color: #e6e6e6;
  top: 81px;
  right: 0px;
  height: 29px;
  width: 437px;
  margin-right: -420px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s 0s;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid grey;
  visibility: hidden;
  /*transition: visibility 0s 0.3s;*/
}

.cd-panel__close-watch::before, .cd-panel__close-watch::after {
  /* close icon created in CSS */
  content: '';
  position: absolute;
  top: 13px;
  left: 10px;
  height: 2px;
  width: 15px;
  background-color: black;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cd-panel__close-watch::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-panel__close-watch::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cd-panel__close-watch:hover::before, .cd-panel__close-watch:hover::after {
  background-color: grey;
}
/*Close btn STOP*/

/*RIGHT SIDE PANEL STOP*/
/*LEFT SIDE PANEL START*/
.leftsidepanel  {
  margin-top: 44px;
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.leftsidepanel .leftclosebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: grey;
}

.left_panel-select {
  padding: 7px;
}
/*LEFT SIDE PANEL STOP*/

.float-right.upload_fields {
  margin-bottom: 10px;
}

/*BUTTONS BAR*/
.contactsBtnsBar button {
  margin-right: 5px;
}

.contactsBtnsBar select {
  margin-right: 0px;
}

.contactsBtnsBar {
  background-color: white;
  margin-top: -50px;
  margin-bottom: 5px;
  margin-left: -30px !important;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 130px;
  padding-left: 20px;
  position: fixed;
  width:1170px;
  transition: margin-top 0.2s;
}
/*STOP BUTTONS BAR*/

/*CHAT*/
.about_message {
  font-size: 12px  !important;
  margin-right: 10px;
}
/*CHAT*/

/*NOTICE*/
/* Modal statistic of statuses*/
.tbl-statistics-header > th {
  position: sticky; top: 0;
  background-color: white;
}

#respWindowStatistic th {
  text-align: right;
  padding-right: 5px;
}

#listMyResp td {
  text-align: right;
  padding-right: 5px;
}
/* Modal statistic of statuses*/

.textLineFilters {
  font-weight: bold;
  color: red;
}
