body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
  color: #333 !important;
  background-color: #eee !important;
}
th {
  border-top: none !important;
}

label {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0 !important;
}
label.required-for-label:after
{
    color: red;
    content: " *";
}
/* Быстрый возврат к верху страницы */
.scroll-up{
    z-index: 1;
    height: 10%;
    color: #d5dddf;
    text-align: center;
    position: fixed;
    display: none;
    right: 20px;
    bottom: 85px;
}

.scroll-up:hover{
    cursor: pointer;
    color: #51666b;
}

/*ALERT MESSAGE*/
#globalError, #globalHint, #globalHelp {
  z-index: 2001;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  text-align:center;
  color:white;
  font-weight: bold;
  border-radius: 0px;
}

#globalError {
  background-color: #dc3545;
}

#globalHint {
  background-color: #28a745;
}

#globalHelp {
  background-color: blue;
}
/*STOP ALERT MESSAGE*/

/*Buttons*/
.my_btn_cancel {
  background-color: #e6e6e6 !important;
  border: 1px solid lightgrey !important;
}
/*STOP Buttons*/
.cursor-pointer {
  cursor: pointer;
}

.grey_text {
  font-size: 12px;
  color: #AAA;
  font-weight: normal;
}

/*LISTS*/
.active_string {
  background-color: lightyellow;
}

.list_string:hover {
  background-color: #eee;
}
/*STOP LISTS*/

/*NAVBARS START*/
.navbar a.nav-link {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25) !important;
  color: rgba(255,255,255,.6) !important;
}

.navbar .navbar-nav > li > a {
    padding: 5px !important;
    margin: 0px 10px;
}
.navbar .navbar-nav > li > a:hover {
    color: #FFFFFF !important;
}
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.active:hover > a,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 2px solid #308CCF;
    color: #FFFFFF !important;
}

.divider-vertical {
  height: 34px;
  margin: 0 9px;
  padding: 0;
  border-left: 1px solid #716f6f;
}

.bell-alarm {
  margin-left: 10px;
  margin-top: 7px;
  font-size: 18px;
  color: gold;
}

.bell-alarm-mbl {
  margin-right: 10px;
  margin-top: 7px;
  font-size: 18px;
  color: gold;
}

.envelope-support {
  margin-left: 10px;
  margin-top: 7px;
  font-size: 18px;
  color: #FFFFFF;
}

.envelope-support-mbl {
  margin-right: 10px;
  margin-top: 7px;
  font-size: 18px;
  color: #FFFFFF;
}
/*NAVBARS STOP*/

.hr-slim {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* accordeon extra style */
.border-top-gray {
  border-top: 1px lightgray solid;
}

#main_container .tab-content button {
  font-size: 14px;
}

.select_bold {
    font-weight: bold !important;
    border: 1px solid blue !important;
}

/* TEXT STYLE*/
.example {
	color: #AAA;
	font-weight: normal;
  font-size: 12px;
}

/*Справка*/
li.modal-reference {
  width: 300px;
  padding: 0px 0px;
}

.modal-reference a {
  display: block;
  text-decoration: none !important;
  color: black;
  font-size: 14px;
  padding: 2px 15px;
}

.modal-reference a:hover {
  background-color: #08c;
  color: white;
}

.dropdown-menu.pull-right {
  margin-left: -205px;
}

.dropdown-toggle::after {
  display: none !important;
}

.bg_grey {
  background-color: #d1d5d8;
}

.bg_pink {
  background-color: #FCF4F4;
}

/*NOTICE*/
.bg-notice-string {
  background-color: #a1e4ef;
}

.link_custom {
  cursor: pointer;
  color: #007bff !important;
  font-weight: bold;
}

.link_custom_active {
  color: #004997;
  text-decoration: underline;
}

.link_custom:hover {
  color: #004997;
  text-decoration: underline;
}

.link_custom_gray {
  cursor: pointer;
  color: #625f5f;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.link_custom_gray:hover {
  color: #272626;
}

.hide_element {
  display: none !important;
}


.text_blue {
  color: #08c;
}
