body {
    padding-bottom: 40px;
    background-color: #eee;
    padding-top: 60px;
}
a {
    cursor: pointer;
}
.form-signin, .form-signup, .form-signup-full, .form-logout {
    max-width: 320px;
    padding: 19px 29px 29px;
    margin: 100px auto 20px;
}
.form-signup-full {
    max-width: 450px;
    padding: 19px 29px 29px;
    margin: 100px auto 20px;
}
.form-signup-full label{
    min-height: 15px !important;
}
.form-signup {
    margin: 0 auto 20px;
}
.form-signup-full {
    margin: 0 auto 0;
}
.form-signup-full label{
    font-weight: bold;
    min-height: 20px;
    margin-bottom: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin label, .form-signup label{
    font-size: 16px;
}
.form-signup-full button{
    margin-top: 20px;
    width: 100%;
}

.form-signin button, .form-signup button{
    margin-top: 30px;
    width: 107%;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signup input[type="text"],
.form-signup input[type="password"]{
    font-size: 16px;
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 9px;
}
#eventTabs > ul{
    margin-bottom: 0;
}
#eventTabs > .tab-content{
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
}
.reg-list tr, #members tr{
	cursor: pointer;
}

.regmem-icons i {
    margin-right: 5px;
}
.example {
	color: #AAA;
	margin-left: 10px;
	font-weight: normal;
        font-size: 12px;
}
.modal-edit-member .modal-header h3, .modal-edit-member .modal-header a{
	margin-left: 15px;
}
#modalAddMembers {
    width: 700px;
    margin-left: -350px;
}
#modalAddMembers .modal-body{
    max-height: 500px;
    /*display: inline-block;*/
}
#modalAddMembers .searchBlock{
    float: none;
}
#modalMessageBox h3 {
    font-size: 22px;
}
#membersTable {
    height: 330px;
    overflow-y: auto;
}
.membersTable {
    height: 330px;
    overflow-y: auto;
}
.modal-edit-member hr {
	margin: 7px 0;
}
.modal-edit-member select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
 	margin-bottom: 5px;
}
.modal-edit-member label {
	margin-bottom: 1px;
}
/*
.modal-edit-member .modal-body{
	max-height: 600px;
        overflow-y: auto;
}
*/

#modalStatistic .text-align{
    text-align: right;
}
#modalStatistic .table td {
  line-height: 14px !important;

}
#modalStatistic .modal-body {
  padding-top: 0 !important;
}

.modal-edit-member .controls-row input, .modal-edit-member .controls-row select,
.modal-edit-member .controls-row textarea, .modal-edit-member .controls-row div[class*="span"],
.modal-edit-member .controls-row label {
	margin-left: 30px;
}

.modal-edit-member .controls label{
    font-size: 13px;
    font-weight: bold;
}
.modal-edit-member input[type="radio"] {
	margin: -3px 0 0 0;
}
.modal-edit-member input[type="radio"]+input[type="radio"] {
	margin-left: 5px;
}
.modal-edit-member input[type="checkbox"] {
	margin: -2px 3px 0 0;
}
#emShowSharedComment {
    text-decoration: underline;
    margin-left: 10px;
}
#globalError {
    z-index: 2000;
    position: fixed;
    right: 1px;
    left: 1px;
    top: 1px;
    text-align: center;
    background: red;
    border-color: white;
    color: white;
}
#globalHint {
    z-index: 2000;
    position: fixed;
    right: 1px;
    left: 1px;
    top: 1px;
    text-align: center;
    background: #5bb75b;
    border-color: white;
    color: white;
}
#ajaxLoading {
    z-index: 2500;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    background: white;
    opacity: 0.8;
    margin-top: -60px;
}
#ajaxLoading img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -62px;
    margin-left: -62px;
}
#modalEventInfo {
    width: 600px;
    margin-left: -300px;
}
.modal-send-message {
    width: 33%;
}
.modalListInput {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: -11px;
  width: 350px;
  max-height: 350px;
  overflow-y: auto;
}
.modalListInput div:hover {
  cursor: pointer;
  background-color: lightgrey;
}
.autocomplete-suggestions {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: #FFF;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 350px !important;
    overflow-y: auto;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}
.belowInput {
width:313px;
min-height: 250px;
background-color:#bfcdde;
position:absolute;
overflow-y:auto;
}
.guest-success{
    min-height: 100px;
}
.guest-success h4{
    padding-top: 15px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 22px;
    color: #060;
}
.guest-event:hover{
    color: #0E7DA1;
    background-color: #B0DFF7;
    border-color: #5DA6C9;
}
.unblock-input{
    position: relative;
    margin-left: -20px;
    cursor: pointer;
    margin-top: 28px;
}

.block-new-locality > .unblock-input {
    float: right;
    margin-top: -32px;
    margin-left: 0;
    margin-right: 7px;
}

.modal-send-message .control-label {
    width: 50px;
}
.modal-send-message .controls {
    margin-left: 60px;
}
.modal-send-message .control-group {
    margin-bottom: 5px;
}
.modal-send-message label {
    font-weight: bold;
}

tr.inactive-member td {
    text-decoration: line-through;
    color: #999;
    cursor: not-allowed;
}
.icon-black{
    margin-right: 5px;
    cursor: pointer;
}
td.mname.female {
    color: #600
}
td.mname.male, span.mname.male {
    color: #006
}
#txtPermalink {
    font-size: 12px;
    height: 12px;
    width: 300px;
    padding: 3px;
    margin-top: 2px;
}
iframe.help{
    border: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
ul.dropdown-menu a.disabled {
    cursor: default;
    color: gray !important;
}
#addMemberTableHeader {
    margin-left: 5px;
    margin-bottom: 5px;
}
#addMemberTableHeader a {
    margin-right: 20px;
    text-decoration: underline;
}

/*** BOOTSTRAP OVERRIDES ***/
.container{
    height: 100%;
}
#guest-container{

}
.alert{
    color: #c06d07;
}
.alert-info{
    color: #3a87ad;
}
.alert-success{
    color: #468847;
}
.alert-error{
    color: #b94a48;
}
select.error {
    border-color: #b94a48;
    background-color: #F5DFDF;
}
.table input{
    margin: 0;
}
.navbar .nav > li > a {
    padding: 5px;
    margin: 5px 10px;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active:hover > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 2px solid #308CCF;
    color: #FFFFFF;
}
.navbar-inverse .divider-vertical {
    border-right-color: #555;
    border-left-color: #333;
}
.hero-unit {
    background: #f5f5f5;
}
form.form-inline label {
    margin-right: 5px;
    margin-left: 5px;
}
.control-group.error input, .control-group.error select {
    background-color: #FCF4F4;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #E08A88;
}
input.error, .control-group.error select {
    background-color: #FCF4F4;
}
input.error, .control-group.error select, textarea.error {
    border-color: #E08A88;
}
.control-group {
    display:inline-block;
    float: left;
    margin-bottom: 0;
}
.controls-row {
    margin-bottom: 5px;
}
.controls label sup, .control-group label sup {
    color: red;
}
.tooltip {
    z-index: 2030;
}
.tooltip-inner {
    max-width:200px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}
/*
.desctopVisible .btn-toolbar > .btn, .desctopVisible .btn-toolbar > .btn-group,
.show-phone .btn-toolbar > .btn, .show-phone .btn-toolbar > .btn-group{
    margin-left: 0 !important;
    margin-right: 10px;
    margin-top: 10px;
}
.desctopVisible .btn-toolbar, .show-phone .btn-toolbar{
    margin-top: 0 !important;
    margin-left:10px;
}
*/
#modalCollegesList .search-colleges{
    margin-top: 5px;
    margin-left: 10px;
}
#modalCollegesList .clear-search-colleges{
    margin-left: -22px;
}
#modalCollegesList .clear-search-colleges:hover{
    cursor: pointer;
}

#modalEditCollege .locality-list{
    display: none;
    max-height: 130px;
    overflow-y: hidden;
    border: 1px solid rgb(208, 208, 208);
    z-index: 99999;
    background-color: white;
    position: absolute;
    margin-left: 0px;
}
#modalEditCollege .locality-list li{
    margin: 5px 0 5px 10px;
}
#modalEditCollege .locality-list li:hover{
    cursor: pointer;
}

#modalEditCollege .selected-locality{
    margin-bottom: 10px;
}
#modalEditCollege .modal-body label{
    min-height: 0;
    margin-top: 10px;
}
.removeCollegeLocality:hover{
    cursor: pointer;
}
#membersTable button{
    margin-right: 10px;
}
.membersTable button{
    margin-right: 10px;
}

.navbar-inverse .nav-collapse.in > ul{
    margin-left: 25px;
}
.navbar-inverse .btn-navbar{
    margin-right: 25px;
}
#modalAddMembers .modal-body > .form-inline > label{
    margin-left: 20px;
}

.members-list .btn-toolbar select{
    margin-bottom: 0 !important;
}
.members-list .btn-toolbar div.btn-group{
    margin-top: 10px;
}

.marTop5Serv{
    margin-top: -5px;
}
.marLeft15{
    margin-left: 15px !important;
}
#dropdownMenu2 li a{
    display: inline !important;
}
#dropdownMenu2{
    min-width: 140px !important;
}
#dropdownMenu2 li i{
    float: right;
    margin-right: 10px;
}

.show-phone .table, .desctopVisible .table{
    margin-top: 10px;
}
.not-display{
    display: none;
}
.not-display input{
    width:200px;
    margin-left: 10px;
    margin-bottom: 0;
}
.registration-list .not-display input{
    width:200px;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
}
.chg-color{
    background-color: darkgray !important;
}
.emName{
    float: left !important;
}
.absent-events{
    margin-top: 40px;
    text-align: center;
    border:1px solid black;
    border-radius:5px;
    padding:20px;
    font-size:16px;
}
.send-message-support{
    margin-top: 20px;
    text-align: center;
}
.clear-search {
    margin-left: -22px;
    margin-top: -3px;
    color: #CCC;
    opacity: 0.6;
}
.clear-search-members {
  margin-left: -22px;
  margin-top: -3px;
  opacity: 0.6;
}

.admin-list.clear-search {
    color: #CCC;
}

#modalDownloadMembers input{
    margin-right: 10px;
    margin-top: -2px;
}
#modalDownloadMembers label{
    display: inline-block !important;
}
#spec{
    font-weight: 600;
}
#modalMessageBox h3{
    text-align: center;
}

.message-admins{
    margin-top: 20px;
    text-align: center;
}
#eventTabs .desctopVisible tbody h3, #eventTabs .show-phone tbody h3{
    text-align: center;
}
.removeMemberReason{
    width: 100%;
}
#removeMemberFromList .modal-body > div{
    padding-right: 15px;
}
#aidInfo{
    min-height: 110px;
}
#modalDownloadItems label{
    display: inline-block;
}
#modalDownloadItems input{
    margin-top: -2px;
}
#modalFullBulkEditor input{
    margin-left: 0;
}
#modalFullBulkEditor label{
    margin-top: 5px;
    margin-bottom: 1px;
    min-height: 15px !important;
}
#modalRejectRegConfirm .modal-body, #modalMemberRegstate .modal-body{
    display: inline-block;
}
.count-localities{
    float: left;
}
.filters{
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 10px;
}

.members-list .search.active{
    display: inline-block;
}
.registration-list .btn-toolbar, .members-list .btn-toolbar, .admins-list .btn-toolbar, .meetings-list .btn-toolbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.meetings-list .btn-toolbar > .btn, .btn-event-members-statistic, .btn-add-event, .btn-event-general-statistic{
    margin-bottom: 10px;
    margin-right: 10px;
}
.registration-list .btn-toolbar .btn, .registration-list .btn-toolbar select,
.admins-list .btn-toolbar select{
    margin-right: 10px;
    margin-top: 10px;
}
.members-list .btn-toolbar .btn-group{
    margin-right: 10px;
}
.registration-list .btn-group+.btn-group,
.registration-list .btn-toolbar>.btn+.btn-group,
.btn-toolbar>.btn+.btn,
.members-list .btn-group+.btn-group,
.members-list .btn-toolbar>.btn-group+.btn{
    margin-left: 0 !important;
}
.openCollegeDeleteModal:hover{
    color: red;
    cursor: pointer;
}
.openCollegeEditModal:hover, .handleUserAid:hover{
    color: green;
    cursor: pointer;
}
.openCollegeDeleteModal, .openCollegeEditModal, .handleUserAid{
    margin-right: 10px;
}

.meetingDate{
    margin-bottom: 10px !important;
}
#meetingCategory{
    margin-bottom: 10px !important;
    margin-left: 5px;
}

#meetingLocalityModal{
    width: 100%;
}
#addEditMeetingModal .modal-footer, #addEditStatisticModal .modal-footer{
    display: flow-root;
}
.meeting-note{
    width: 100%;
    padding: 0;
}
.meeting-list:hover{
    color: blue;
    cursor: pointer;
}
.meeting-row:hover{
    cursor: pointer;
}
.highlight-member{
    background-color: #dde9f3;
}
#modalMeetingMembers .modal-body, #modalEventMembers .modal-body, #generalEventMembersModal .modal-body {
    max-height: 455px !important;
    overflow-y: auto !important;
    padding-right: 5px !important;
}

#addEditMeetingModal .modal-body label{
    line-height: 30px;
    display: inline;
}

.meeting-list-counts{
    font-size: 14px;
}
.statistic-meeting-list{
    margin-top: 10px;
}
.LT-meeting{
    background-color: #DC143C;
}
.PM-meeting{
    background-color: #a6cce8;
}
.GM-meeting{
    background-color: #a4ecb7;
}
.CM-meeting{
    background-color: yellow;
}
.HM-meeting{
    background-color: darkgray;
}
.YM-meeting{
    background-color: orange;
}
.KM-meeting{
    background-color: violet;
}
.VT-meeting{
    background-color: black;
}
.statistic-bar-form{
    margin-left: 2px;
    margin-right: 5px;
    padding-left: 20px;
    /*padding-top: 5px;*/
}
.statistic-bar{
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 6px;
    /*padding-top: 6px;*/
    color: white;
    /*font-size: 14px;*/
    text-align: center;
}
.archive-bar{
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 35px;
    padding-top: 13px;
}
.statistic-part{
    padding-top: 10px !important;
    line-height: 14px !important;
}
.statistic-date-part{
  line-height: 14px !important;
}
.general-event-archive-list td{
    padding: 0 !important;
    padding-top: 5px !important;
}
#modalMeetingStatistic .modal-body{
    max-height: 450px !important;
    overflow-y: auto !important;
}
#selMeetingCategory, #selMeetingLocality, #selectedEventType, #selectedEventLocality, .btn-meeting-members-statistic{
    margin-right: 10px;
}

.meetings-list .datepicker{
    padding: 0;
}

.input-daterange{
    display: inline-block;
    margin-right: 10px;
}
.input-daterange > input, .input-daterange > .fa-calendar.btn{
    margin-bottom: 10px;
}
.start-date.span2, .end-date.span2, .start-date-statistic-members.span2, .end-date-statistic-members.span2, .end-date-statistic-general.span2, .start-date-statistic-general.span2{
    width: 90px !important;
}

.fa-calendar.btn{
    border-radius: 0;
}
.fa-calendar.btn:hover{
    cursor: default;
    background-position: 0;
}
.start-date-statistic-members, .start-date-statistic-general{
    margin-right: -5px !important;
}
.end-date-statistic-members, .end-date-statistic-general{
    margin-left: -5px !important;
}
#localityStatistic, #meetingTypeStatistic, #meetingTypeGeneralStatistic, #localityGeneralStatistic{
    margin-right: 10px;
}
#modalMeetingMembers tbody td, #modalEventMembers tbody td{
    padding: 5px;
}
#modalMeetingMembers tbody tr:hover, #archiveEvents tbody tr:hover{
    cursor: pointer;
}
.search-meeting-members, .search-event-members{
    margin-bottom: 0 !important;
}
.search-meeting-members, .filter-stat-members-checked, .filter-stat-members-unchecked, .search-event-members, #eventTypeMembersStatistic, .search-general-event-members{
    margin-right: 10px;
}
.btn-meeting-download-members-statistic, .btn-meeting-download-general-statistic, .search-general-event-members{
    margin-bottom: 10px !important;
}
.scroll-up{
    z-index: 1;
    height: 10%;
    color: #d5dddf;
    text-align: center;
    position: fixed;
    display: none;
    right: 20px;
    bottom: 70px;
}

.modal-body .scroll-up{
    position: absolute;
    right: 20px;
    bottom: 70px;
}
.scroll-up:hover{
    cursor: pointer;
    color: #51666b;
}
#modalMeetingMembers .modal-body, #modalMeetingStatistic .modal-body{
    position: static;
}
#modalMeetingStatistic .datepicker, #modalGeneralMeetingStatistic .datepicker{
    padding: 0;
}
.meetings-list .dropdown{
    display: none;
}
.meetings-list .dropdown .dropdown-menu li{
    font-size: 14px;
}
.meetings-list .dropdown .dropdown-menu li a{
    padding: 0px 0px 0px 10px !important;
    display: inline !important;
}

#chart_div{
    margin-top: 30px;
}
.show-extra-fields{
    display: none;
}
.meeting-summary{
    background-color: #dde9f3;
}
.regstate-list-handle{
    display: none;
    position: absolute;
    width: 170px;
    z-index: 9999;
    background-color: white;
    margin-left: 0;
    margin-top: 2px;
    border: 1px solid #e6e5e5;
    border-radius: 5px;
 }
 .regstate-list-handle > li{
     display: block;
     line-height: 30px;
     padding-left: 10px;
 }
 .regstate-list-handle > li:hover{
     background-color: #eae9e9;
 }
 .regstate-list-handle > li> a:hover{
     text-decoration: none;
 }
 #modalBulkEditor .modal-body input, #modalBulkEditor .modal-body select{
     margin-left: 0;
 }
 .show-admin-fields, .service-admin-fields{
     display: none;
 }


 /* events */

 #user-profile{
    background-color: white;
    padding: 20px 40px;
    max-width: 400px;
}
#user-profile label{
    font-weight: bold;
    min-height: 20px;
    margin-bottom: 0;
}
.passrec-container{
    max-width: 600px;
    padding: 10px 29px 29px;
    margin: 10px auto 20px;
}
.user-name-field{
    font-size: 14px !important;
}
.nav li.btn-group{
    margin-top: 0 !important;
}
.guest-event h4{
    display: inline;
}
.guest-event > span{
    float: right;
}
.toggle-event-icon{
    margin-top: 5px;
}
.toggle-event-icon:hover{
    cursor: pointer;
}
.reg-members-available{
    margin-top: 10px;
    margin-bottom: 5px;
}
.reg-members-available i, .zones-available i{
    color: green;
}
.reg-members-available i:hover, .zones-available i:hover{
    cursor: pointer;
}
.list-events i, .hidden-events-list i{
    margin-right: 10px;
}
.list-events i:hover, .hidden-events-list i:hover{
    cursor: pointer;
}
.list-events tr:hover, .hidden-events-list tr:hover{
    cursor:pointer;
}
.list-events > div, .hidden-events-list > div{
    display: inline-block;
    border-bottom: 1px solid #DDD;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-events > div:hover, .hidden-events-list > div:hover{
    cursor: pointer;
    background-color: #eee;
}
.list-events > div > span, .hidden-events-list > div > span{
    margin-left: 10px;
}
.events-list-headers{
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}
.events-list-headers > span{
    margin-left: 10px;
    font-weight: bold;
}

.block-hidden-events{
    margin-top: 20px;
}
.btnRemoveEvent:hover{
    color: red;
}
.btnEditEvent:hover{
    color: green;
}
.reg-members-added{
    margin-bottom: 10px;
}

.zones-added{
    margin-top: 10px;
    margin-bottom: 10px;
}

#modalAddEditEvent label, #modalFullBulkEditor label{
    margin-bottom: -5px;
    margin-top: 5px;
    font-weight: bold;
}
.reg-members-added i, .zones-added i{
    color: red;
}
.reg-members-added i:hover, .zones-added i:hover{
    cursor: pointer;
}
#modalHandleEventInfo .modal-body{
    overflow: hidden;
}
.filter-event-locality, .filter-event-author{
    margin-top: 10px;
}

.btnEventActivity, .btnRemoveEvent, .btnEditEvent, .btnEventHiding, .btnGetStatistic{
    color: #ababab;
}
.btnEventActivity:hover, .btnEventHiding:hover, .btnGetStatistic:hover{
    color: black;
}

.datepicker:hover, .datepicker-form:hover{
    cursor: pointer !important;
}

.archive-event-list:hover{
    cursor: pointer;
}
.filter-members-by-service{
    margin-bottom: 0;
    margin-right: 10px;
}

.eventArchiveInfo div{
    padding: 10px;
    font-size: 14px;
}

.aditional-menu{
    display: none;
    position: sticky;
    top: 43px;
    padding: 10px 0;
    z-index: 1000;
    background-color: #eee;
    border: 1px solid #ddd;
}
.aditional-menu > a{
    margin-right: 10px;
}
.aditional-menu > a.chk-register{
    margin-left: 10px;
}

.showEmaildetails{
    color: #ccc;
}

.showEmaildetails:hover{
    cursor:pointer;
    color: black;
}

.handle-passport-info:hover, .handle-new-locality:hover{
    cursor: pointer;
}

.send-message-support-phone{
    margin-right: 10px;
}

.modal-edit-member .controls label{
    font-size: 15px;
    font-weight: bold;
}

.removeAdditionalLocality{
    color: red;
    margin-left: 5px;
}
.addAdditionalLocality{
    color: green;
    margin-left: 5px;
}
.addAdditionalLocality:hover, .removeAdditionalLocality:hover{
    cursor: pointer;
}

.localities-added, .localities-available {
    margin-bottom: 10px;

}
.localities-added > div, .localities-available > div{
    min-height: 20px !important;
}

.emails-list div:hover{
    background-color: #eee;
}
.event-icons > span{
    margin-right: 3px;
}
.edit-member-form .controls label{
    min-height: 15px;
}
.edit-member-form .controls input, .edit-member-form .controls select{
    margin-bottom: 10px;
}
#modalEditMember{
    margin-bottom: 20px;
}

.members-list #selMemberCategory{
    width: 185px;
}
.btn-remove-meeting{
    margin-left: 10px;
}
.btn-remove-meeting:hover{
    cursor: pointer;
    color: red;
}

.reference-content{
    background-color: white;
    height: 100%;
    padding: 10px;
}

.reference-item{
    height: 35px;
    border-bottom: 1px solid #f5f5f5;
    line-height: 35px;
}

.reference-item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.reference-item div{
    display: inline;
}
#modalAddReference input, #modalAddReference select{
    width: 100%;
    padding: 5px 0;
}

.btn-delete-reference{
    color: #d5d5d5;
}
.btn-delete-reference:hover{
    color: red;
    cursor: pointer;
}
.modal-reference{
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    line-height: 35px;
}

.references-blocks{
    display: flex;
    justify-content: space-between;
}
.desctop-references{
    display: block;
}
.phone-references{
    display: none;
}
.block-new-locality{
    display: none;
}

.statistic-block {
    display:inline-block;
    width: 48%;
}

.statistic-additional-block{
    display:inline-block;
    width: 48%;
    float: right;
}

.sort_college_locality:hover{
    cursor: pointer;
}
.contrib-block{
    width: 21%;
}
.prepaid-block{
    width: 22%;
    margin-left: 5%;
}
.currency-block{
    width: 48%;
    float: right !important;
}
.desctop-references-header > div{
    font-weight: bold;
}
.arrangement-block{
        background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
}

#modalAddEditEvent .nav-tabs li:not(.active) > a, #modalHandleTemplate .nav-tabs li:not(.active) > a,
#addEditMeetingModal .nav-tabs li:not(.active) > a{
    margin-right: 0;
    border-color: white;
    background-color: white;
    border: 1px solid white;
    border-bottom: 1px solid #ddd;
}


.textblock{
    min-height: 10px;
    margin-bottom: 10px;
    height: auto !important;
}
.textblock .alert{
    margin-bottom: 0;
}
.toolbar{
    margin-bottom: 10px;
}

.edit-template:hover{
    color: green;
    cursor: pointer;
}

.edit-template, .delete-template, .template-admins-info, .template-participants-info, .btn-add-template-meeting{
    color: #ddd;
}

.delete-template:hover{
    color: red;
    cursor: pointer;
}

.btn-add-template-meeting:hover{
    color: blue;
    cursor: pointer;
}

.template-admins-info:hover, .template-participants-info:hover {
    color: black;
    cursor: pointer;
}

.checkbox-block label{
    display: inline;
}
.checkbox-block .btn-group{
    margin-right: 20px;
}
.checkbox-block input{
    margin-top: -10px;
    margin-right: 5px;
}
#modalParticipantsList .modal-body, #modalHandleTemplate .modal-body, #addEditMeetingModal .modal-body{
    height: 450px !important;
    overflow-y: scroll !important;
}
.btn-remove-item{
    color: #ddd;
}
.btn-remove-item:hover{
    color: red;
    cursor: pointer;
}
.btn-meeting-member-list{
    color: #ddd;
}
.btn-meeting-member-list:hover{
    color: black;
    cursor: pointer;
}
.btn-remove-member{
    color: #ddd;
}
.btn-remove-member:hover{
    color: red;
    cursor: pointer;
}
.clear-college {
    position: relative;
    cursor: pointer;
    margin-top: -33px;
    float: right;
    margin-right: 5px;
}
.block-add-members{
    display: none;
}
.check-member:hover{
    cursor: pointer;
}

.filter_name_field, .save_filter_name{
    display: none;
}

.add-filter{
    color: #ddd;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
}

.add-filter:hover{
    cursor: pointer;
    color: green;
}

.filters_list{
    border-top: 1px solid #dadada;
}

.filter_item{
    border-bottom: 1px solid #dadada;
    height: 30px;
    margin-top: 5px;
}

.filter_item:hover{
    cursor: pointer;
}

.save_filter_name{
    margin-left: 5px;
}

.show_filter, .remove_filter, .edit_filter, .save_filter_name{
    color: #ddd;
    font-size: 16px;
    margin-right: 10px;
}

.show_filter:hover{
    cursor: pointer;
    color: blue;
}

.remove_filter:hover{
    cursor: pointer;
    color: red;
}

.edit_filter:hover, .save_filter_name:hover{
    cursor: pointer;
    color: green;
}

.download-checkboxes-first-column, .search-checkbox-first-column{
    width: 40%;
    float: left;
}
.user_setting_span{
    color: #AAA;
    font-weight: normal;
    font-size: 12px;
    margin-left: 0;
}

/*** RESPONSIVENESS ***/

/* Large Desktop */
@media (min-width: 1200px) {
    .cell-column, .email-column {
        display: table-cell;
    }

    div.show-phone {
        display: none;
    }
    .show-name-list{
        display: none;
    }

    .style-date{
        width: 10%;
    }
    .style-name{
        width: 25%;
    }
    .style-city{
        width: 15%;
    }
    .style-cell{
        width: 10%;
    }
    .style-email{
        width: 15%;
    }

    .tablets-visible{
        display: none;
    }
    .desctop-visible{
        display: block;
    }

    #modalEventSendMsg, #messageAdmins, #modalSendLetter, #modalSendLetterService, #modalMessageBox{
        width: 500px;
    }

    #addEditMeetingModal .span2{
        width: 126px;
    }
    #addEditMeetingModal .span3{
        width: 220px;
    }
    .event-date{
        width: 100px;
    }
    .meetingDate{
        width: 33%;
    }
    #meetingCategory{
        width: 98%;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    div.tablets-visible{
        display: none;
    }
    div.desctop-visible{
        display: block;
    }
    .hide-tablet {
        display: none;
    }
    /*.modal-edit-member .controls input, .modal-edit-member .controls select,
    .modal-edit-member .controls textarea, .modal-edit-member .controls div[class*="span"],
    .modal-edit-member .controls label {
        margin-left: 30px;
    }
    */

    #modalEditMember .controls label.span1, #modalEditMember .controls select.span1{
        width: 70px;
    }
    #modalEditMember .controls label.span2, #modalEditMember .controls select.span2{
        width: 170px;
    }
    #modalEditMember .controls label.span3, #modalEditMember .controls select.span3{
        width: 270px;
    }
    #modalEditMember .controls label.span4, #modalEditMember .controls select.span4{
        width: 370px;
    }
    #modalEditMember .controls label.span5, #modalEditMember .controls select.span5{
        width: 470px;
    }
    #modalEditMember .controls label.span6{
        width: 570px;
    }
    #modalEditMember .controls label.span7{
        width: 670px;
    }
    #modalEditMember .controls label.span8{
        width: 770px;
    }
    #modalEditMember .controls label.span9{
        width: 870px;
    }
    #modalEditMember .controls input.span1{
        width: 56px;
    }
    #modalEditMember .controls input.span2{
        width: 156px;
    }
    #modalEditMember .controls input.span3{
        width: 256px;
    }
    #modalEditMember .controls input.span4{
        width: 356px;
    }
    #modalEditMember .controls input.span5{
        width: 456px;
    }
    #modalEditMember .controls input.span6{
        width: 556px;
    }
    #modalEditMember .controls input.span7{
        width: 656px;
    }
    #modalEditMember .controls input.span9{
        width: 856px;
    }
    #modalEditMember .controls-row [class*="span"] + [class*="span"] {
        margin-left: 30px;
    }

    .show-name-list{
        display: none;
    }
    .style-checkbox{
        width: 3% !important;
    }
    .style-date{
        width: 30% !important;
    }
    .style-date{
        width: 30% !important;
    }
    .style-name{
        width: 30% !important;
    }
    .style-city{
        width: 20% !important;
    }

    /*
    div.grpTransport{
        width: 156px;
    }
    */

    div.show-phone {
        display: none;
    }

    .table th, .table td {
        padding: 10px 0 10px 5px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #DDD;
    }

    .desctop-visible{
        display: block;
    }
    .tablets-visible{
        display: none;
    }

    .serviceModal select{
        margin-left: 0 !important;
    }

    #modalEventSendMsg .span5, #messageAdmins .span5, #modalSendLetter .span5, #modalSendLetterService .span5{
        width:400px;
    }
    #modalEventSendMsg, #messageAdmins, #modalSendLetter, #modalSendLetterService{
        width: 445px;
    }
    .event-date{
        width : 100px;
    }
    .meetingDate{
        width: 130px !important;
    }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }

    .control-group {
        display:inline-block;
        float: left;
        margin-bottom: 5px;
    }
    .controls {
        margin-bottom: 5px;
    }

    /*.modal-edit-member .controls label{
        font-size: 15px;
        font-weight: bold;
    }
    */
    .modal-footer{
        padding-bottom: 45px;
    }

    .show-name-list{
        display: inline;
        color: white;
        margin-left: 35px;
        font-weight: 700;
        position: absolute;
        margin-top: 7px;
    }
    .style-checkbox{
        width: 5% !important;
    }
    .style-checkbox input{
        margin-left: 5px;
    }
    .style-date{
        width: 25%;
    }
    .style-name{
        width: 20%;
    }
    .style-city{
        width: 20%;
    }

    .desctop-visible{
        display: none;
    }
    .tablets-visible{
        display: block;
    }

    .serviceModal select{
        margin-left: 0 !important;
    }

    #modalEventSendMsg .text-field, #messageAdmins .text-field, #modalSendLetter .text-field, #modalSendLetterService .text-field{
        width: 98%;
    }
    #modalEventSendMsg .span4, #messageAdmins .span4, #modalSendLetter .span4, #modalSendLetterService .span4{
        width: 250px !important;
    }
    #modalEventSendMsg .form-horizontal .control-label, #messageAdmins .form-horizontal .control-label, #modalSendLetter .form-horizontal .control-label, #modalSendLetterService .form-horizontal .control-label{
        float: left !important;
    }

    .form-list select{
        display: block !important;
        width: 100% !important;
    }
    .form-list label{
        margin-top: 10px !important;
    }
    .emNewLocality{
        float: left !important;
    }
     #addEditMeetingModal, #addEditMeetingModal #meetingLocalityModal{
        width: 100%;
    }
    #meetingLocalityModal{
        margin-left: 0;
    }
    .aditional-menu{
        top: 51px;
    }
    .desctop-references, .desctop-references-header{
        display: none;
    }
    .phone-references{
        display: block;
    }
    .reference-item {
        height: auto;
    }
    .reference-item > div{
        display: block;
    }
    .references-list{
        margin-top: 20px;
    }
    #meetingCategory{
        margin-left: 0;
    }
}

@media (min-width:769px) and (max-width: 979px){
    div[id^="eventTab"] .show-phone {
        display: none;
    }
    div[id^="eventTab"] .desctopVisible{
        display: block;
    }

    .hide-tablet {
        display: none;
    }
    #eventTabs > .tab-content{
        padding: 10px;
    }
    .desctopVisible table tbody td {
        max-width: 100px !important;
        overflow: hidden !important;
    }
    #modalMeetingStatistic .span2{
        width: 126px;
    }
    #modalMeetingMembers .span3{
        width: 206px;
    }
    .event-date{
        width: 100px;
    }
    .event-icons{
        width : 120px;
    }
}

@media (min-width:220px) and (max-width: 768px){
    div.show-phone {
        display: block;
    }
    div.desctopVisible{
        display: none;
    }
    .hide-tablet {
        display: none;
    }
    #selectLocalityCollege{
        margin-top: 10px;
    }
    #modalCollegesList .search-colleges{
        margin-left: 0;
        margin-top: 10px;
    }
    #lnkCancelReg{
        display: block;
        float: right;
    }
}

@media (max-width: 768px){
    #modalAddMembers .modal-body > .form-inline > label{
        margin-left: 0;
        margin-top: 20px;
    }
    .hide-name{
        display: none;
    }

    #addEditMeetingModal .modal-body label{
        line-height: 20px;
    }
    .meetings-list .btn-toolbar > .btn {
        margin-bottom: 0;
        margin-left: 0;
    }

    #selMeetingCategory, #selMeetingLocality, #modalMeetingStatistic .input-daterange, #localityStatistic, #modalGeneralMeetingStatistic .input-daterange{
        margin-left: 0;
    }
    .meetings-list .dropdown{
        display: inline-block;
        margin: 10px 10px 10px 0;
    }
    .start-date, .end-date, .btn.fa-calendar, .start-date-statistic-members, .end-date-statistic-members, .start-date-statistic-general, .end-date-statistic-general{
       display: inline !important;
       margin-bottom: 0 !important;
    }
    .btn.fa-calendar{
        padding: 7px 10px !important;
    }
    .input-daterange{
        margin-bottom: 10px;
    }
    .search-meeting-members{
        margin-bottom: 10px !important;
    }
    .tab-pane.active .scroll-up{
        right: 30px;
    }
    .btn-meeting-download-members-statistic, .btn-meeting-download-general-statistic{
        margin-bottom: 0;
    }
    i.unblock-input{
        margin-top: 5px;
    }
    .aditional-menu > a.chk-register{
        margin-left: 40px;
    }

    .references-blocks{
        flex-direction: column;
        justify-content: space-between;
    }

    .references-blocks > div{
        margin-bottom: 10px;
        border-bottom: 1px solid #f5f5f5;
        height: auto;
    }

    .statistic-block {
        display: block;
        width: 100%;
    }

    .statistic-additional-block{
        display: block;
        width: 100%;
        float: left;
    }

    #showStatistic{
        display: inline-block;
    }
}

@media (max-width: 550px){
    .form-signin, .form-signup{
        margin: -50px auto 20px;
    }
    .currency-block{
        width: 100%;
    }
    .prepaid-block{
        width: 48%;
        float: right !important;
        margin-left: 0;
    }
    .contrib-block{
        width: 48%;
    }
}

@media (max-width: 400px){
    #modalMeetingMembers .modal-body, #modalEventMembers {
        max-height: 350px !important;
        overflow-y: auto !important;
        padding-right: 5px !important;
    }
    .modal-body .scroll-up{
        bottom: 80px;
    }
    .download-checkboxes-first-column, .search-checkbox-first-column{
        width: 100%;
    }
}
.members-lists-combo {
  font-weight: bold;
  border: 1px solid blue;
}
.members-lists-combo>option {
  font-size: 16px;
}
.meeting-lists-combo {
  font-weight: bold;
  border: 1px solid blue;
}
.meeting-lists-combo>option {
  font-size: 16px;
}

#events-list>option {
  font-size: 16px;
}
#events-list {
  font-weight: bold;
  border: 1px solid blue;
}
.bg-gray-mbl {
  background-color: lightgray;
}

.status-select-plan {
  background-color: gray;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.status-select-done {
  background-color: #468847;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.status-select-failed {
  background-color: #f89406;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.visitСhangeStts>option {
  background-color: white;
  color: black;
}
.status-select-plan>option,
.status-select-done>option,
.status-select-failed>option {
  background-color: white;
  color: black;
}
.modalRemoveVisit {
  width: 330px;
}
.active_ruler {
  background-color: lightblue;
}
/*multiselect with checkboxes on the statistic page*/
.loader_weel {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.string_name_upload {
  color: black;
}

.deny_string {
  text-decoration: line-through;
  color: red;
}

.denyThisString {
  cursor: pointer;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.active_sub_string, .active_sub_string_mbl {
  background-color: lightyellow;
}

.active_string, .active_string_mbl {
  font-weight: bold;
}

.table_present_activated {
  color: green;
}

/*support icon*/
.webWidget__buttonIcon {
    padding: 9px;
}

.webWidget__chatButton {
  flex-shrink: 0;
  flex-grow: 0;
  align-self: flex-end;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  float: right;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
  margin-right: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}
.webWidget__buttonOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: black;
  opacity: 0;
  top: 0;

  &:hover {
      opacity: 0.05;
  }
}

.request-row {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}

.request-row:hover {
  cursor: pointer;
  background-color: #eee;
}

.application-row {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}

.application-row:hover {
  cursor: pointer;
  background-color: #eee;
}

.ftt_menu_a {
  padding-left: 8px;
  padding-right: 8px;
  transition: text-shadow 200ms;
}

.ftt_menu_a:hover {
  font-weight: bold;
  text-decoration: none;
}

.font_weight_bold {
  font-weight: bold;
}
