.attend_str {
  cursor: pointer;
  border-top: 1px solid #eee;
  margin-bottom: 3px;
  padding-top: 3px;
}

.attend_str:hover {
  background-color: #eee;
}

.m_width_check {
  max-width: 70px !important;
  /*margin-left: 15px;  */
}
