
/*meet*/
.str_record, .str_record_staff {
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px lightgray solid;
}

.str_record:hover, .str_record_staff:hover {
  background-color: #eee;
}

.fellowship_element {
  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: 5px;
  background-color: darkblue;
}

.fellowship_element_bbd {
  display: inline-block;
  width: 35px;
  height: 25px;
  margin-right: 5px;
  background-color: darkgreen;
}

.bg_lightpink {
    background-color: #e9d0cf;
}

@media (min-width: 769px) {
    /* Стили для экранов от 769px */
    #meet_trainee_select {
        min-width: 155px;
    }
}

@media (min-width: 769px) {
    /* Стили для экранов больше 769px */
    #meet_trainee_select {
        min-width: 155px;
    }
}

@media (max-width: 769px) {
    /* Стили для экранов меньше 769px */
    #meet_trainee_select {
        min-width: 180px;
    }
}
/*meet*/
