/* universal */
.mark-yellow {
  background-color: yellow;
}

/* STYLE FOR THE FTT PAGE */
.request-string {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px lightgray solid;
  cursor: pointer;
}

.request-string:hover {
  background-color: #eee;
}

#application_list_cont .nav-link {
  border: 1px lightgray solid;
}
