<div class="row mb-5">
  <div class="col">
    <a href="https://drive.google.com/file/d/1dAYLKCdTrWtzgZD7X6N0b3q5jkS4JmUd/" target="_blank" rel="noopener noreferrer"><strong>Планы обучения</strong></a>
  </div>
</div>
<!-- Сообщение 1 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 1: Продолжение Деяний — совокупное продолжение Христа</h5>
    <p>Гимны 405 и 568.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075937521?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_01_Rus"></iframe></div>
  </div>
</div>
<hr>

<!-- Сообщение 2 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 2: Единодушие</h5>
    <p>Гимн 576.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075937624?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_02_Rus"></iframe></div>
  </div>
</div>
<hr>

<!-- Сообщение 3 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 3: Поддерживать единодушие посредством трёх слагаемых силы в Господнем восстановлении — молитвы, Духа и Слова</h5>
    <p>Гимны 44 и 643.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075937735?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_03_Rus"></iframe></div>
  </div>
</div>
<hr>

<!-- Сообщение 4 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 4: Воскрешённый, вознесённый и всеобъемлющий Христос</h5>
    <p>Гимны 104 и 92.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075937838?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_04_Rus"></iframe></div>
  </div>
</div>
<hr>

<!-- Сообщение 5 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 5: Хранить себя в одном течении Господней работы для распространения церкви и получить милость Господа, чтобы спастись от умыслов Сатаны</h5>
    <p>Гимн 569.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075937950?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_05_Rus"></iframe></div>
  </div>
</div>
<hr>

<!-- Сообщение 6 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 6: Благодать в Деяниях</h5>
    <p>Гимны 239 и 348.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075938108?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_06_Rus"></iframe></div>
  </div>
</div>
<hr>

<!-- Сообщение 7 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 7: Продолжать жить в божественной истории внутри человеческой истории в продолжении Деяний для распространения и созидания церкви как совокупного явления Христа</h5>
    <p>Гимн 325.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075938238?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_07_Rus"></iframe></div>
  </div>
</div>
<hr>

<!-- Сообщение 8 -->
<div class="row mb-5">
  <div class="col">
    <h5>Сообщение 8: Божественная Троица и царство Божье</h5>
    <p>Гимны 443 и 682.</p>
    <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1075938330?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S25_ITERO_08_Rus"></iframe></div>
  </div>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
